#page {	width: 80%;
	left: 10%;
	position: absolute;
	margin: 20 0 20 0;
}
#menu {
	height: 12px;
	background-color: #FFFFFF;
	margin-top: 15px;
	padding: 10px 0 20px 0;
	border-radius: 20 20 0 0;
	-webkit-border: 20 20 0 0;
	-moz-border-radius: 20 20 0 0;
	text-align: center;
}

#logo {	float: top;	height: 70px;
    text-align: center;
    padding-top: 35px;
    font-family: "Goudy Stout" fantasy;
    font-size: 30px;
    background-color: #FFFFFF;
    border-radius: 0 0 20 20;
	-webkit-border: 0 0 20 20;
	-moz-border-radius: 0 0 20 20;
}
#content {	color: #000000;	top: 162px;
	font-size: 20px;
	padding: 15 3% 15 3%;
	background-color: #FFFFFF;
	border-radius: 0 0 20 20;
	-webkit-border: 0 0 20 20;
	-moz-border-radius: 0 0 20 20;
}
#footer {	text-align: center;
	background-color: #FFFFFF;
	margin-top: 20px;
	padding: 5 0 5 0;
	border-radius: 20;
	-webkit-border: 20;
	-moz-border-radius: 20;
}
body {	background-color: #0080C0;
	color: #0080C0;
}
.menu_link {	padding: 0 25 0 25;
	text-decoration: none;
	font-size: 16px;
	color: #0080C0;
}
.menu_link:hover {	text-decoration: underline;
}
a {	text-decoration: none;
	color: #0080C0;
	padding: 0 10px 10px 10px;
}
a:hover {	text-decoration: underline;
}
p {	text-indent: 25px;}
span
{	text-decoration: none;
	color: #0080C0;
	padding: 0 10px 10px 10px;
}
span:hover {	text-decoration: underline;
	cursor: pointer;
}
